from .model import {{ capitalize(name) }}  # noqa
from .schema import {{ capitalize(name) }}Schema  # noqa


def register_routes(root_api, root="/api"):
    from .controller import api as {{ lower(name) }}_api

    root_api.add_namespace({{ lower(name) }}_api, path=f"{root}/{{ lower(name) }}")
    return root_api
