from pytest import fixture, raises

from .model_test import {{ lower(name) }}

from .model import {{ capitalize(name) }}
from .interface import {{ capitalize(name) }}Interface

@fixture
def interface() -> {{ capitalize(name) }}Interface:

    params: {{ capitalize(name) }}Interface = {
        "{{ lower(name) }}_id": 1,
        "name": "interface name",
        "description": "interface description"
    }
    return params


def test_{{ capitalize(name) }}Interface_init(interface: {{ capitalize(name) }}Interface):
    assert interface


def test_{{ capitalize(name) }}Interface_create(interface: {{ capitalize(name) }}Interface):
    {{ lower(name) }} = {{ capitalize(name) }}(**interface)
    assert {{ lower(name) }}
    for k, v in interface.items():
        assert getattr({{ lower(name) }}, k) == interface[k]


def test_{{ capitalize(name) }}Interface_update({{ lower(name) }}: {{ capitalize(name) }}, interface: {{ capitalize(name) }}Interface):
    {{ lower(name) }}.update(interface)
    assert {{ lower(name) }}
    for k, v in interface.items():
        assert getattr({{ lower(name) }}, k) == interface[k]
