from pytest import fixture

from app.product import Product
from .model import {{ capitalize(name) }}
from .interface import {{ capitalize(name) }}Interface


@fixture
def interface() -> {{ capitalize(name) }}Interface:

    params: {{ capitalize(name) }}Interface = {
        "{{ lower(name) }}_id": 1,
        "name": "Test name",
        "description": "Test description",
    }
    return params


def test_{{ capitalize(name) }}Interface_create(interface: {{ capitalize(name) }}Interface):
    assert interface


def test_{{ capitalize(name) }}Interface_works(interface: {{ capitalize(name) }}Interface):
    assert {{ capitalize(name) }}(**interface)
