from pytest import fixture

from .model import {{ capitalize(name) }}
from .schema import {{ capitalize(name) }}Schema
from .interface import {{ capitalize(name) }}Interface


@fixture
def schema() -> {{ capitalize(name) }}Schema:
    return {{ capitalize(name) }}Schema()


def test_{{ capitalize(name) }}Schema_create(schema: {{ capitalize(name) }}Schema):
    assert schema


def test_{{ capitalize(name) }}Schema_works(schema: {{ capitalize(name) }}Schema):
    params: {{ capitalize(name) }}Interface = schema.load(
        {"{{ lower(name) }}Id": 1, "name": "Test name", "description": "Test description"}
    ).data
    {{ lower(name) }} = {{ capitalize(name) }}(**params)

    assert {{ lower(name) }}.{{ lower(name) }}_id == 1
    assert {{ lower(name) }}.name == "Test description"
    assert {{ lower(name) }}.description == "Test description"

