def register_routes(app, api):
    from .blueprint import blueprint as {{ name }}_bp
    from .controller import api as {{ name }}_api

    app.register_blueprint({{ name }}_bp)
    api.add_namespace({{ name }}_api, path="/{{ name }}")

