from marshmallow import fields, Schema


class {{ capitalize(name) }}Schema(Schema):
    """{{ capitalize(name) }}"""

    class Meta:
        ordered = True

    {{ name }}_id = fields.Number(attribute="{{ name }}_id")
    name = fields.String(attribute="name")
    description = fields.String(attribute="description")

