include MANIFEST.in
include LICENSE
include pytest.ini
include README.md
include setup.py
include flaskerize/global/generate.json
include flaskerize/global/schema.json

graft flaskerize

global-exclude *.json

recursive-include flaskerize/global
recursive-include flaskerize/schematics
recursive-include flaskerize *.json *.py *.template
