#!/usr/bin/env python

from setuptools import setup, find_packages

setup(
    name="{{ name }}",
    version="{{ version }}",
    description="{{ description }}",
    author="{{ author }}",
    author_email="{{ author_email }}",
    url="{{ url }}",
    packages=find_packages(),
    install_requires=[{{install_requires}}],
)
