from {{ name }}.test.fixtures import app, client  # noqa F401


def test_app_home(app, client):  # noqa F811
    with client:
        resp = client.get("/")
        assert resp.status_code == 200
        assert b'<h1 class="text-center">Welcome to {{ name }}</h1>' in resp.data

def test_app_status(app, client):  # noqa F811
    with client:
        resp = client.get("/status/")
        assert resp.status_code == 200
        assert b'<h1 class="text-center">{{ name }} - Status</h1>' in resp.data

def test_app_health(app, client):  # noqa F811
    with client:
        resp = client.get("/health")
        assert resp.status_code == 200
        assert resp.is_json
        assert resp.json == "healthy"

